<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' media='screen' href='/main.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>LiveFit--registration</title>
</head>

<body>
    <!--header-->
    <header>
        <div class="navbar">
            <div class="container">
                <div class="logo">
                    <a href="/homepage" title="LiveFit"><img src="/livefit_logo.png"></a>
                </div>

                <!--Navigation bar-->
                <ul class="menu">
                    <li>
                        <a href="/homepage">Home</a>
                    </li>
                    <li>
                        <a href="/mealpackage">Meals Package</a>
                    </li>
                    <li>
                        <a href="/registration">Registration</a>
                    </li>
                    <li>
                        <a href="/login">Login</a>
                    </li>
                    <li>
                        <a href="">About Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </header>

    <!-- hero section-->
    <section class="hero2">
        <div class="hero-img2">
            <img src="/hero-leftimage2.png">
        </div>
        <div class="words2">
            <h1>
                <P>Welcome!</P>
                <div class="words2 user">
                    {{data.firstName}}
                </div>
            </h1>
        </div>
    </section>


    <!-- welcome msg-->

    <div class="welcomeMsg">
        <p>Welcome to Livefit!</p>
        <div class="welcomeMsg-user">
            <p>Name: {{user.firstName}} {{user.lastName}}</p>
            <p>Phone: {{user.phone}}</p>
            <p>Email: {{user.email}}</p>
            {{!-- <p>Password: {{user.password}}</p> --}}
        </div>
    </div>
    

    <!-- footer-->
    <hr style="border:none solid gray;">
    <footer class="footer">
        <div class="footer-box">
            <div class="footer-text">
                <div class="footer-text-header">About Livefit</div>
                <div class="footer-text-content">
                    <a href="#">Affiliates</a>
                    <a href="#">Gift Card</a>
                    <a href="#">First Responders</a>
                </div>
            </div>
            <div class="footer-text">
                <div class="footer-text-header">Help & Support</div>
                <div class="footer-text-content">
                    <a href="#">FAQ</a>
                    <a href="#">Terms & Conditions</a>
                    <a href="#">Contact Us</a>
                </div>
            </div>
            <div class="footer-text">
                <div class="footer-text-header">Our Menu</div>
                <div class="footer-text-content">
                    <a href="#">All Journeys</a>
                    <a href="#">Grocery</a>
                </div>
            </div>
        </div>

        <div class="footer-media">
            <hr style="border:none solid gray;">
            <div class="footer--">
                <div class="footer-right">© 2021 LiveFit North America Inc.</div>
                <div class="footer-link">
                    <a href="#">Facebook</a>
                    <a href="#">Instagram</a>
                    <a href="#">Twitter</a>
                </div>
            </div>
        </div>


    </footer>

    <script src='js/registration.js'></script>
</body>

</html>